<div class="article-detail bg-white py-24 sm:py-12">
  <div class="mx-auto max-w-5xl px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row items-start gap-8">

      <!-- Left Side: Article Title and Content -->
      <div class="lg:w-3/4">
        <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl py-12">
          @if (article) {
            {{ article.heading }}
          } @else {
            <span>Article Not Found</span>
          }
        </h2>

        <!-- Author Info -->
        <div class="mt-8">
          <p class="text-2xl font-semibold text-gray-900">Author:</p>
          <p class="text-2xl text-black-600 mt-2">{{ article.authorsName }}</p>
        </div>
        <div class="mt-8">
          <p class="mt-4 text-lg text-gray-600 whitespace-pre-line">
            {{ article.text }}
          </p>

        </div>

      </div>

      <!-- Right Side: Image -->
      <div class="lg:w-1/4 flex justify-end py-24 ml-12">
        @if (article.picturePath) {
          <img [src]="article.picturePath"
            alt="{{ article.heading }}"
            class="rounded-lg shadow-lg w-full max-w-xs object-cover"
          />
        } @else {
          <div class="no-image bg-gray-200 rounded-lg shadow-lg w-full max-w-xs flex items-center justify-center h-64 text-gray-500">
            No Image
          </div>
        }
      </div>

    </div>
  </div>
</div>
