<div class="bg-white py-24 sm:py-12">
  <div class="mx-auto max-w-5xl px-6 lg:px-8">
    <!-- Containers Section Title -->
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
        Containers
      </h2>
      <p class="mt-2 text-lg/8 text-gray-600">
        Explore the available recycling containers.</p>
    </div>

    <!-- Containers Grid -->
    @if(containers && containers.length > 0) {
      <div class="container-grid">
        @for(container of containers; track container) {
          <a routerLink="/container/detail/{{ container.id }}" class="container-card">
            <div class="group relative flex flex-col items-center">
              @if(container.picturePath) {
                <img src="{{ container.picturePath }}" alt="{{ container.name }}" class="container-image" />
              } @else {
                <div class="no-image">No Image</div>
              }
              <h3 class="container-title">{{ container.name }}</h3>
            </div>
          </a>
        }
      </div>
    } @else {
      <!-- No Containers Message -->
      <section class="no-containers">
        <p>No containers available at the moment.</p>
      </section>
    }
  </div>
</div>
