<section class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-4xl">
    <h2 class="text-2xl font-bold text-center text-gray-900 mb-6">Add a New Product</h2>

    <form class="space-y-6" (submit)="onSubmit()">
      <!-- Name & EAN -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Product Name</label>
          <input type="text" id="name" [(ngModel)]="product.name" name="name"
            class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" required />
        </div>
        <div>
          <label for="ean" class="block mb-2 text-sm font-medium text-gray-700">EAN Code</label>
          <input type="text" id="ean" [(ngModel)]="product.ean" name="ean"
            class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" required />
        </div>
      </div>

      <!-- Description -->
      <div>
        <label for="description" class="block mb-2 text-sm font-medium text-gray-700">Description</label>
        <textarea id="description" [(ngModel)]="product.description" name="description"
          class="w-full h-40 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5" required></textarea>
      </div>
              <!-- Picture Upload -->
              <label class="block mb-4 text-sm font-medium text-gray-700">
                Add Picture
                <div class="flex flex-col h-40 border border-gray-300 items-center justify-center bg-white rounded-lg p-4 my-2 relative">
                  <!-- Hidden File Input -->
                  <input type="file" id="fileInput" (change)="onFileSelected($event)" class="hidden">

                  <!-- Centered Add New Button -->
                  <button type="button"
                    class="flex items-center justify-center group cursor-pointer outline-none hover:rotate-90 duration-300"
                    (click)="triggerFileInput()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24"
                      class="stroke-zinc-400 fill-none group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                      <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                        stroke-width="1.5"></path>
                      <path d="M8 12H16" stroke-width="1.5"></path>
                      <path d="M12 16V8" stroke-width="1.5"></path>
                    </svg>
                  </button>
                </div>
              </label>

      <!-- Parts Selection -->
      <div class="relative">
        <label class="block mb-2 text-sm font-medium text-gray-700">Select Product Parts</label>
        <div class="flex flex-wrap gap-2 mb-2">
          @for (part of selectedParts; track part.id) {
            <span class="bg-mainGreen text-white px-3 py-1 rounded-lg flex items-center">
              {{ part.name }}
              <button type="button" (click)="removePart(part)" class="ml-2 text-sm text-red-500">x</button>
            </span>
          }
        </div>

        <!-- Search Input & Dropdown -->
        <div class="flex gap-2">
          <input type="text" [(ngModel)]="searchQuery" (input)="filterParts()" (focus)="toggleDropdown()"
            placeholder="Search parts..." class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5">
          <button type="button" class="px-12 py-2 text-white rounded-lg bg-mainGreen hover:bg-hoverGreen"
            (click)="openModal()">
            Add Part
          </button>
        </div>

        @if (dropdownOpen) {
          <div class="absolute z-10 mt-1 w-full bg-white border border-gray-300 rounded-lg shadow-lg">
            <ul class="max-h-40 overflow-auto">
              @for (part of filteredParts; track part.id) {
                <li class="p-2 cursor-pointer hover:bg-gray-200" (click)="selectPart(part)">
                  {{ part.name }}
                </li>
              }
            </ul>
          </div>
        }
      </div>

      <!-- Submit Button -->
      <button type="submit"
        class="w-full text-white rounded-lg bg-mainGreen hover:bg-hoverGreen rounded-lg text-gray-900 text-sm rounded-lg p-2.5">
        Create Product
      </button>
    </form>
  </div>
</section>

<!-- Flowbite Modal for Adding a New Part -->
<div id="modal-part"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 transition-opacity"
  [class.hidden]="!modalOpen">
  <div class="bg-white p-6 w-96 rounded-lg shadow-lg">
    <h3 class="text-xl font-bold mb-4">Add New Part</h3>

    <!-- Part Name -->
    <label class="block text-sm font-medium text-gray-700">Part Name</label>
    <input type="text" [(ngModel)]="newPart.name" name="partName"
      class="w-full p-2 border border-gray-300 rounded-lg mb-4" />

    <!-- Part Description -->
    <label class="block text-sm font-medium text-gray-700">Description</label>
    <textarea [(ngModel)]="newPart.description" name="partDescription"
      class="w-full p-2 border border-gray-300 rounded-lg mb-4"></textarea>

    <!-- Part Type Dropdown -->
    <label class="block text-sm font-medium text-gray-700">Type</label>
    <select [(ngModel)]="newPart.partType" name="partType"
      class="w-full p-2 border border-gray-300 rounded-lg mb-4">
      @for (type of availablePartTypes; track type) {
        <option [value]="type">{{ type }}</option>
      }
    </select>

    <!-- Materials Selection -->
    <label class="block text-sm font-medium text-gray-700">Materials</label>
    <div class="relative">
      <input type="text" [(ngModel)]="materialSearchQuery" (input)="filterMaterials()" (focus)="toggleMaterialDropdown()"
        placeholder="Search materials..." class="w-full border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5">
      @if (materialDropdownOpen) {
        <div class="absolute z-10 mt-1 w-full bg-white border border-gray-300 rounded-lg shadow-lg">
          <ul class="max-h-40 overflow-auto">
            @for (material of filteredMaterials; track material.id) {
              <li class="p-2 cursor-pointer hover:bg-gray-200" (click)="selectMaterial(material)">
                {{ material.name }}
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- Selected Materials -->
    @if (selectedMaterials.length > 0) {
      <div class="mt-4">
        <h3 class="font-semibold text-lg">Selected Materials</h3>
        <ul>
          @for (material of selectedMaterials; track material.id) {
            <li class="flex items-center justify-between p-2 border border-gray-300 rounded-md mt-2">
              {{ material.name }}
              <button (click)="removeMaterial(material)" class="text-red-600">x</button>
            </li>
          }
        </ul>
      </div>
    }

    <!-- Part Image Upload -->
              <!-- Picture Upload -->
              <label class="block mb-4 text-sm font-medium text-gray-700">
                Add Picture
                <div class="flex flex-col h-40 border border-gray-300 items-center justify-center bg-white rounded-lg p-4 my-2 relative">
                  <!-- Hidden File Input -->
                  <input type="file" id="fileInput" (change)="onFileSelected($event)" class="hidden">

                  <!-- Centered Add New Button -->
                  <button type="button"
                    class="flex items-center justify-center group cursor-pointer outline-none hover:rotate-90 duration-300"
                    (click)="triggerFileInput()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24"
                      class="stroke-zinc-400 fill-none group-active:stroke-zinc-200 group-active:fill-zinc-600 group-active:duration-0 duration-300">
                      <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                        stroke-width="1.5"></path>
                      <path d="M8 12H16" stroke-width="1.5"></path>
                      <path d="M12 16V8" stroke-width="1.5"></path>
                    </svg>
                  </button>
                </div>
              </label>

    <!-- Add Part Button -->
    <button class="w-full px-4 py-3 text-white rounded-lg bg-mainGreen hover:bg-hoverGreen"
      (click)="addPart()">
      Add Part
    </button>

    <!-- Close Button -->
    <button class="w-full px-4 py-2 bg-gray-400 text-white rounded-lg mt-2 hover:bg-gray-500"
      (click)="closeModal()">
      Cancel
    </button>
  </div>
</div>
