<div class="container-detail bg-white py-24 sm:py-12">
  <div class="mx-auto max-w-5xl px-6 lg:px-8">
    <div class="flex flex-col lg:flex-row items-start gap-8 py-10">

      <!-- Left Side: Container Title and Description -->
      <div class="lg:w-3/4">
        <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl py-12">
          {{ container.name }}
        </h2>
        <p class="mt-2 text-lg text-gray-600">{{ container.description }}</p>

        <!-- Container Type -->
        <div class="mt-8">
          <p class="font-semibold text-gray-900 text-lg">Type</p>
          <p class="text-gray-600 capitalize">{{ container.type || 'not found' }}</p>
        </div>
      </div>

      <!-- Right Side: Image -->
      <div class="lg:w-1/4 pl-24">
        <div class="w-64 h-64 overflow-hidden rounded-lg shadow-lg bg-gray-200">
        @if (container.picturePath) {
          <img [src]="container.picturePath"
            alt="{{ container.name }}"
            class="w-full h-full object-cover rounded-lg"
          />
        } @else {
          <div class="no-image bg-gray-200 rounded-lg shadow-lg w-full max-w-xs flex items-center justify-center h-64 text-gray-500">
            No Image
          </div>
        }
      </div>
      </div>
    </div>
  </div>
</div>
