<div class="bg-gray-50 min-h-screen py-10 px-6">
  <!-- Search Bar -->
  <div class="mx-auto max-w-5xl px-6 lg:px-8">
    <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
      Products
    </h2>
    <p class="mt-2 text-lg/8 text-gray-600">
      Let's see where we can throw this one!
    </p>
    <!-- Search Bar -->
    <div class="my-4">
      <input
        type="text"
        placeholder="Search by Name or EAN..."
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        class="block w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
      />
    </div>
    <button>
      <a routerLink="/product/create"
        class="block w-full bg-mainGreen text-white font-bold py-4 px-6 rounded-lg hover:bg-hoverGreen transition my-4">
        Add Product
      </a>
    </button>
  </div>

  <div
    class="mx-auto mt-10 grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    <!-- Check if there are products -->
    @if(filteredProducts.length > 0) {
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 max-w-7xl mx-auto"
      >
        <!-- Loop through products -->
        @for(product of filteredProducts; track product.id) {
          <div
            (click)="viewProductDetail(product.id)"
            class="bg-white border border-gray-300 rounded-lg shadow-sm hover:shadow-lg transition-shadow"
          >
            <!-- Product Image -->
            @if(product.picturePath) {
              <img
                [src]="product.picturePath"
                alt="{{ product.name }}"
                class="w-full h-48 object-cover rounded-t-lg"
              />
            } @else {
              <div class="w-full h-48 bg-gray-200 flex items-center justify-center rounded-t-lg">
                <span class="text-gray-500">No Image</span>
              </div>
            }

            <!-- Product Info -->
            <div class="p-4">
              <h3 class="text-lg font-semibold text-gray-800 truncate">{{ product.name }}</h3>
              <p class="text-sm text-gray-600">EAN: {{ product.ean }}</p>
            </div>

            <!-- View Details Button -->
            <div class="p-4">
              <button
                (click)="viewProductDetail(product.id)"
                class="block w-full bg-mainGreen text-white font-bold py-2 rounded-lg hover:bg-hoverGreen transition"
              >
                View Details
              </button>
            </div>
          </div>
        }
      </div>
    } @else {
      <!-- No Products Found -->
      <div class="text-center mt-16">
        <p class="text-gray-500 text-lg">No products found matching your search.</p>
        <p class="text-gray-500 text-lg">Want to add this product of yours?</p>
      </div>
    }
  </div>
</div>
