<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <!-- Container Box with Shadow and Padding -->
  <div class="bg-white shadow-lg rounded-lg p-8 w-full sm:max-w-sm">
    <!-- Title: Centered "LOG IN" -->
    <h2 class="text-2xl font-bold text-center text-gray-900 mb-6">Log In</h2>

    <!-- Form -->
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label for="email" class="block text-sm font-medium text-gray-900">Email address</label>
        <div class="mt-2">
          <input type="email" name="email" id="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" placeholder="name@mail.com" required>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-mainGreen hover:text-hoverGreen">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input type="password" name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" placeholder="password" required>
        </div>
      </div>

      <p class="text-center text-sm text-gray-600 mb-4">Don't have an account yet? <a href="/register" class="font-semibold text-mainGreen hover:text-hoverGreen">Register here!</a></p>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-mainGreen px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-hoverGreen focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Log In
        </button>
      </div>
    </form>
  </div>
</div>
